@import "../../../scss/variables.scss";
@import "../../../scss/rem-calc.scss";

:host {
  display: flex;
  flex-direction: column;

  main {
    width: 100%;

    .pokemon-names {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: rem-calc(75);
      padding: 0 rem-calc(30);

      h1 {
        font-size: rem-calc(32);
        font-weight: 800;
        text-transform: capitalize;
        color: $white;
      }

      h2 {
        position: absolute;
        font-weight: 100;
        top: 0;
        font-size: rem-calc(60);
        color: rgba(255, 255, 255, 0.1);
      }
    }

    .pokemon-props {
      position: relative;

      img {
        position: absolute;
        top: rem-calc(-90);
        left: rem-calc(30);
        max-width: rem-calc(140);
        max-height: rem-calc(140);
      }

      &-statistics {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 40vh;
        margin-top: rem-calc(10);
        padding: rem-calc(110) rem-calc(35) rem-calc(30);
        border-radius: rem-calc(25);
        background: $white;

        h3 {
          margin-bottom: rem-calc(20);
          font-size: rem-calc(32);
          font-weight: 800;
          color: $secondary-color;
        }

        ol {
          li {
            display: flex;
            justify-content: space-between;
            font-size: rem-calc(18);
            text-transform: capitalize;
            line-height: 130%;

            strong {
              font-weight: 700;
            }
          }
        }
      }
    }

    @media (max-width: 375px) {
      margin-top: rem-calc(10);

      .pokemon-names {
        h1 {
          font-size: rem-calc(20);
        }

        h2 {
          top: rem-calc(35);
          font-size: rem-calc(20);
        }
      }

      .pokemon-props {
        position: relative;

        img {
          position: absolute;
          top: rem-calc(-80);
          left: rem-calc(0);
          max-width: rem-calc(100);
        }

        &-statistics {
          min-height: 54.7vh;
          padding-top: rem-calc(50);
        }
      }
    }
  }
}
