@import "../../../scss/rem-calc.scss";
@import "../../../scss/variables.scss";

:host {
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem-calc(16) rem-calc(20);
    border-radius: rem-calc(10);
    background-color: rgba(255, 255, 255, 0.2);

    input {
      width: 95%;
      background: none;
      border: none;
      outline: none;
      font-size: rem-calc(18);
      font-weight: 400;
      color: $white;

      &::placeholder {
        color: $gray;
      }
    }

    img {
      cursor: pointer;
    }
  }
}
