@import "./scss/reset.scss";
@import "./scss/rem-calc.scss";
@import "./scss/variables.scss";
@import "./scss/button.scss";
@import "./scss/animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
  font-family: "Inter", sans-serif;
  background: $primary-color;
}

main {
  max-width: rem-calc(768);
  margin: 0 auto;
  box-sizing: border-box;
}
